@import "tailwindcss";

@theme {
  --color-jungle-teal: #518E6D;
  --color-turf-green: #107B41;
  --color-turf-green-dark: #12753D;
  --color-turf-green-deep: #216D44;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased font-sans;
  }
}